<header>
  {% include nav.html %}

  <div class="hide-for-small hero {% if page.hero_big == true %}hero-big{% endif %}" {% if page.hero_background %}style="background: url({{ page.hero_background | prepend: site.baseurl }}) no-repeat top #2b2b2b; background-attachment: fixed; background-size: 1700px auto;"{% endif %}>
    <div class="row">
      <div class="medium-8 small-centered columns">
        <h1 class="text-center"><a href="{{ site.url }}">{{site.title}}</a></h1>
      </div>
    </div>
  </div>
  <div class="show-for-small row small-header">
    <div class="small-12 small-centered columns">
      <img class="img-center" src="{{ "/img/logo/logo_white.svg" | prepend: site.baseurl }}" width="250">
      <h1 class="text-center">{{site.title}}</h1>
    </div>
  </div>
</header>
