<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
<div id="map"></div>
<script>
L.mapbox.accessToken = '{{ site.mapbox-api-key }}';
var map = L.mapbox.map('map', 'kenners.li8o2424');
map.scrollWheelZoom.disable();
// Create posts
var geoJson = {"type":"FeatureCollection",
                        "features":[{% for post in map_posts %}{% if post.location %}{"type":"Feature",
                        "properties":{
                          "name": "{{post.title}}",
                          "marker-color": "#548cba",
                          "marker-symbol": "star",
                          "date": "{{post.date | date: "%-d %B %Y" }}",
                          "url": "{{ post.url | prepend: site.baseurl }}",
                          "content": "{{ post.content | strip_html | strip_newlines | truncatewords: 50}}",
                          },
                        "geometry":{
                          "type":"Point",
                          "coordinates":[{{post.location}}]
                          }
                        }{% if forloop.last == false %},{% endif %}{% endif %}{% endfor %}]};
var featureLayer = L.mapbox.featureLayer(geoJson).addTo(map);
featureLayer.eachLayer(function(layer) {
    var content = '<h3><a href="'+layer.feature.properties.url+'">'+layer.feature.properties.name+'<\/a><\/h3>\n<p><em>'+layer.feature.properties.date+'<\/em><\/p>\n<p>'+layer.feature.properties.content+'<\/p>\n<p><a href="'+layer.feature.properties.url+'">&raquo; Read more<\/a><\/p>';
    layer.bindPopup(content);
});
// Create track
var track = L.polyline([{% for post in map_posts %}{% if post.location %} L.GeoJSON.coordsToLatLng([{{post.location}}], true){% if forloop.last == false %},{% endif %}{% endif %}{% endfor %}], {color: 'red', opacity: 0.7}).addTo(map);

map.fitBounds(featureLayer.getBounds(), {padding: [40,40]});
// If we've only got one feature, lets not zoom in too far.
if (geoJson.features.length < 2) {
  map.setZoom(3);
}
</script>
