<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: small">
    <ul class="title-area">
      <li class="name">
        <h1><a href="{{ site.url }}"><img src="{{ "/img/logo/logo_white.svg" | prepend: site.baseurl }}" width="50px"><span class="title hidden-for-small-only">{{ site.title }}</span></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        {% assign pages = site.pages | sort: "weight"  %}
        {% for page in pages %}
        {% if page.title and page.weight %}
        <li class="text-center"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>
