---
layout: exped
title: Antarctica
hero_background: /img/hero/exped.jpg
---
<div class="row">
  <div class="medium-8 columns">
    {% for post in site.categories.antarctica limit:10 %}
    <article id="{{post.id}}">
      <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
       <p class="subdue"> <time datetime="{{ post.date | date: "%Y-%m-%dT%H:%M%z" }}">{{ post.date | date: "%-d %B %Y" }}</time></p>
      <div>
        {{ post.content }}
      </div>
    </article>
    {% endfor %}
  </div>
  <div class="medium-4 columns">
    <img class="circle-image img-center cth hide-for-small" data-interchange="[{{ "/img/exped/antarctica.jpg" | prepend: site.baseurl }}, (default)], [{{ "/img/exped/antarctica-2x.jpg" | prepend: site.baseurl }}, (retina)]" alt="Photo of Marble Hills, Antarctica">
    <noscript>
      <img class="circle-image img-center cth hide-for-small" src="{{ "/img/exped/antarctica.jpg" | prepend: site.baseurl }}" alt="Photo of Marble Hills, Antarctica">
    </noscript>
    <p class="subdue hide-for-small">Scott has spent 3 years working for the British Antarctic Survey (BAS) as a field guide, including two Antarctic winters. He was responsible for a number of scientific projects, from geology work in the Ellsworth Mountains to radar work on the continental ice shelves.</p>
    <h4>Previously</h4>
    <ul class="side-nav">
      {% for post in site.categories.antarctica %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
